@keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(90deg);
    }
  }
  
  .header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: blueviolet;
    animation: rotate 5s linear infinite;
  }
  

h3{
   color: red;
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
    color: #ffffff;
  }
  
  button:active {
    background-color: #3e8e41;
    border-color: #3e8e41;
  }
  